/* estilo geral das páginas */
body {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: 'Prompt', sans-serif;
}

footer {
  margin-top: auto;
}

/*======================== coisas gerais==================================*/

.bg-eko-dark {
  background-color: #2b2b31;
}
.border-eko-header {
  border-bottom: 2px solid #ff6e1a;
}
.border-eko-footer {
  border-top: 1px solid #3a3a3f;
}
.btn-eko {
  background-color: #ff6e1a;
  color: #fff;
  border: none;
  font-weight: bold;
}

.text-eko-orange {
  color: #ff6e1a;
}

.text_spotify_green{
  color: #1ED760;
}


.btn-eko:hover {
  background-color: #e66012;
  color: #fff;
}
.text-eko-lead {
  color: #d0d0d0;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #ff6e1a;
}



/*======================coisas da homepage===============================*/

.background-video-homepage {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  z-index: -1;
  overflow: hidden;
  backdrop-filter: blur(5px);

}

@media (min-aspect-ratio: 16/9) {
  .background-video-homepage video {
    width: 100%;
    height: auto;
  }
}

@media (max-aspect-ratio: 16/9) {
  .background-video-homepage video {
    width: auto;
    height: 100%;
  }
}


.body-homepage main {
  flex-grow: 1; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;    
  text-align: center; 
  position: relative; 
  z-index: 1;
}


.section-about-eko {
  background-color: #111;
  color: white;
  padding: 80px 0;
  position: relative;
  z-index: 1;
}


.card-feature {
    background-color: #2b2b31; 
    border: 1px solid #ff6a008a;  
    padding: 30px;            
    border-radius: 10px;     
    margin-top: 20px; 
    transition: transform 0.6s ease;
    box-shadow: 0 0 25px rgba(255, 106, 0, 0.11);
}

.card-feature:hover{
    transform: scale(1.02);
    box-shadow: 0 0 40px rgba(255, 107, 0, 0.5);
}

.eko-img-destaque {

    width: 100%;  
    height: 500px !important;       
    object-fit: cover;  
    
    border: 2px solid #ff6b00; 
    border-radius: 15px; 
    box-shadow: 0 0 25px rgba(255, 107, 0, 0.3);
    transition: transform 0.6s ease;
}

.eko-img-destaque:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px rgba(255, 107, 0, 0.5);
}


.spotify-img-destaque {

    width: 100%;  
    height: 500px !important;       
    object-fit: cover;  
    
    border: 2px solid #1ED760; 
    border-radius: 15px; 
    box-shadow: 0 0 25px rgba(29, 185, 84, 0.3);
    transition: transform 0.6s ease;
}

.spotify-img-destaque:hover {
    transform: scale(1.02);
    box-shadow: 0 0 40px rgba(29, 185, 84, 0.5);
}


/* a partir daqui é o marquee, o treco de albuns passando no fim da homepage. toma cuidado pra n dar ruim no resto da pagina */

.marquee-section {
    background-color: #111;
    border-top: 1px solid #ff6a007c;
    border-bottom: 1px solid rgba(255, 81, 0, 0.63);
}

.marquee-wrapper {
    width: 100%;
    white-space: nowrap; 
}

.marquee-track {
    display: flex;
    gap: 20px; 
    width: max-content; 
    animation: scroll-left 30s linear infinite; 
}

.marquee-img {
    height: 200px;
    width: 200px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
    opacity: 0.7; 
    transition: 0.3s;
    filter: grayscale(100%); 
}

.marquee-img:hover {
    opacity: 1;
    transform: scale(1.1);
    filter: grayscale(0%); 
    cursor: pointer;
    z-index: 10; 
}

@keyframes scroll-left {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%); 
    }
}

.final-pag {
    background-color: #111; 
    position: relative; 
    z-index: 2; 
    padding-bottom: 80px; 
    border-top: 1px solid #722a0062; 
}