body {
  background-color: #1f1f23;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.bg-eko-dark {
  background-color: #2b2b31;
}

.border-eko-header {
  border-bottom: 2px solid #ff6e1a;
}

.border-eko-footer {
  border-top: 1px solid #3a3a3f;
}

.btn-eko {
  background-color: #ff6e1a;
  color: #fff;
  border: none;
  font-weight: bold;
}

.btn-eko:hover {
  background-color: #e66012;
  color: #fff;
}

.text-eko-lead {
  color: #d0d0d0;
}
.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link:focus {
  color: #ff6e1a;
}