
.center-screen {
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap:10px;
  min-height: 100vh;
}
.rounded-button {
  border-radius: 10px;
  padding: 10px 18px; 
  border: 1px solid #cccccc00;
  text-decoration: none;
}