{% extends "base.html" %}

{% block title %}eko - página inicial{% endblock %}

{% block body_class %}class="body-homepage"{% endblock %}

{% block content %}
<div class="background-video-homepage">
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="{{ url_for('static', filename='bgvideo.mp4') }}" type="video/mp4">
  </video>
</div>
<main class="container text-center vh-100 d-flex flex-column justify-content-center align-items-center">
  <h2 class="display-4 fw-bold">deixe sua voz <span class="text-eko-orange">eko</span>ar.</h2>

  <p class="lead text-eko-lead">
    descubra, avalie e compartilhe as músicas que te marcam.
  </p>

<a href="{{ url_for('cadastro') }}" class="btn btn-eko btn-lg mt-3">
  começar agora
</a>

</main>

<section class = "section-about-eko">
  <div class = "container">
<div class="row align-items-center mb-5"> 
    
    <div class="col-md-6">
        <h2><span class="text-eko-orange"> hora de virar o disco.</span></h2>
        <p> chega de ouvir música picada. no <span class="text-eko-orange">eko</span> a gente valoriza o álbum como ele foi pensado: com início, meio e fim.</p>
        <p>avalie a obra completa, entenda a visão do artista e traga o debate para a roda. porque música boa não foi feita para ficar só no seu fone.</p>
    </div>

    <div class="col-md-6">
        <video autoplay muted loop playsinline class="w-100 rounded-4 eko-img-destaque">
             <source src="{{ url_for('static', filename='eko_hp_2ndbgvid.mp4') }}" type="video/mp4">
        </video> 
    </div>

</div> 
<div class="row align-items-center mt-5"> 

    <div class="col-md-6">
        <video autoplay muted loop playsinline class="w-100 rounded-4 spotify-img-destaque">
            <source src="{{ url_for('static', filename='5077471-hd_720_1366_25fps.mp4') }}" type="video/mp4">
        </video>
    </div>

    <div class="col-md-6">
        <h2> <span class = "text_spotify_green"> o que toca lá,</span><span class="text-eko-orange"> ekoa aqui.</span></h2>
        <p>não importa seu ritmo: se existe no <span class = "text_spotify_green"> Spotify®</span>, existe no <span class="text-eko-orange">eko.</span></p>
        <p>a maior biblioteca musical do mundo, pronta para o seu veredito. ouça no verde, avalie no laranja.</p>
    </div>

</div>
    

<div class="row mt-5"> 

    <div class="col-md-4">
        <div class="card-feature">
            <h4><span class="text-eko-orange">garimpe</span></h4>
            <p>fure a bolha do algoritmo. encontre raridades, pérolas escondidas, e artistas que você vai amar</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-feature">
            <h4><span class="text-eko-orange">julgue</span></h4>
            <p>assuma o papel de crítico. dê notas reais, avalie a obra completa e construa sua reputação.</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card-feature">
            <h4><span class="text-eko-orange">mostre</span></h4>
            <p>sua estante diz quem você é. exiba sua coleção, compare gostos e veja a vibe dos amigos.</p>
        </div>
    </div>

</div>
</div>
</section>


<section class="marquee-section py-5 bg-black overflow-hidden">

  <h2 class="text-center text-white mb-4">não importa seu ritmo. o <span class = "text-eko-orange">eko</span> é o mesmo.</h2>
    
    <div class="marquee-wrapper">
        <div class="marquee-track">
            
            <img src="{{ url_for('static', filename='albunshome/wonder.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/jackson.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/milton.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/nirvana.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/carpenter.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/floyd.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/beatles.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/ocean.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/racionais.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/metallica.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/crimson.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/getzgilberto.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/greenday.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/pimenta.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/impala.jpg') }}" alt="Capa Album" class="marquee-img">

            <img src="{{ url_for('static', filename='albunshome/wonder.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/jackson.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/milton.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/nirvana.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/carpenter.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/beyonce.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/beatles.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/ocean.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/racionais.jpg ')}}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/metallica.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/crimson.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/getzgilberto.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/greenday.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/pimenta.jpg') }}" alt="Capa Album" class="marquee-img">
            <img src="{{ url_for('static', filename='albunshome/impala.jpg') }}" alt="Capa Album" class="marquee-img">

        </div>
    </div>



    
    

</div> </div> </section> <section class="final-pag py-5">
    <div class="container text-center">
        <h2 class="text-white mb-4 fw-bold">
            pronto para fazer sua voz <span class="text-eko-orange">ekoar</span>?
        </h2>
        
        <a href="{{ url_for('cadastro') }}" class="btn btn-eko btn-lg">
            começar agora
        </a>
    </div>
</section>

{% endblock %}