<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
        <link rel="stylesheet" href="static.css">
</head>
<body style="background-color: #1f1f23;">
    
    <div class='center-screen'>  
        <img src="logo.svg">
        <h2 style="color: white;">Pronto para retornar a sua jornada musical?</h2>
         <input type="text" class="rounded" placeholder="Usuário ou e-mail" > 
        <input type="password" class="rounded" placeholder="Senha" >
        <a href="https://google.com" style="font-size: 10px;color:white">esqueci meu login</a>
        <button class="rounded" style="background-color:#ff6e00">Login</button>
    </div>

    
</body>
</html>