<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - eko</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
</head>
<body style="background-color: #1f1f23;">
    
    <div class='center-screen'>  
        <a href="{{ url_for('homepage') }}">
            <img src="{{ url_for('static', filename='eko_branco_transparente.png') }}">
        </a>
        <h2 style="color: white;">Pronto para retornar a sua jornada musical?</h2>
        
        <form action="{{ url_for('login') }}" method="POST">
            
            <input type="text" name="email_login" class="rounded-button" placeholder="Usuário ou e-mail" required> 
            
            <input type="password" name="senha_login" class="rounded-button" placeholder="Senha" required>
            
            <a href="https://google.com" style="font-size: 90%; color:white; display:block; margin: 10px 0;">esqueci meu login</a>
            
            <button type="submit" class="rounded-button" id='login-button' style="background-color:#ff6e00; color:white; border:none; cursor:pointer;">Login</button>
        
        </form>
        <a class="rounded-button" id='signup-button' href="{{ url_for('cadastro') }}" style="background-color:#ff6e00; color: white; text-decoration:none; display:inline-block; text-align:center; margin-top: 10px;">Cadastrar</a>
    
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div style="margin-top: 15px; color: #ff4444; text-align: center;">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

    </div>
</body>
</html>